<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Java SDR-receiver: ADS-B / AIS tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/app.css" rel="stylesheet">
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Java SDR-receiver: ADS-B / AIS tracking</a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row form-inline">
                <span class="form-group">
                    History to include: <label for="from">from</label>
                    <input type="text" class="form-control input-small" id="from" placeholder="15 (default)"> minutes ago,
                    <label for="to">to</label>
                    <input type="text" class="form-control input-small" id="to" placeholder="0 (now)"> minutes ago.
                </span>
        </div>
        <div class="row form-inline">
                <span class="form-group">
                    Filter by:
                    <input type="text" class="form-control input-small" id="objectId" placeholder="objectId">
                    Type:
                    <label class="radio-inline">
                        <input type="radio" name="filterOnType" id="filterOnType1" value="aircraft"> Plane
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="filterOnType" id="filterOnType2" value="ship"> Ship
                    </label>
                    <label class="radio-inline active">
                        <input type="radio" name="filterOnType" id="filterOnType3" value="all" checked=""> All
                    </label>
                </span>
        </div>

        <div class="row">
            <p>
                Showing data from <span id="history-from"></span> minutes ago to <span id="history-to"></span>.<br/>
                Latest data in timeframe: <span id="updated"></span>.
            </p>
        </div>

        <div class="row">
            <div id="map_canvas"></div>
        </div>

    </div>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="../scripts/main.js"></script>

</body>
</html>
